on post-fs
    write /sys/bus/msm_subsys/devices/subsys0/restart_level related
    write /sys/bus/msm_subsys/devices/subsys1/restart_level related
    write /sys/bus/msm_subsys/devices/subsys2/restart_level related
    mkdir /firmware 0771 system system
    mount vfat /dev/block/bootdevice/by-name/modem /firmware ro shortname=lower,uid=1000,gid=1000,dmask=227,fmask=337
    setprop rild.libpath /vendor/lib64/libril-qc-qmi-1.so
    setprop vendor.rild.libpath /vendor/lib64/libril-qc-qmi-1.so
