[Unit]
Description=kugo: Android HIDL services missing from rc files
After=droid-hal-init.service
Before=user@100000.service
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c '/system/bin/vndservicemanager /dev/vndbinder & sleep 2; /system/bin/hw/allocator-service & sleep 1; /system/bin/hw/composer-service & sleep 1; /system/bin/hw/configstore-service & exit 0'
[Install]
WantedBy=multi-user.target
